<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo">
                <span>WebSTORE</span>
            </a>
        </div>
    </div>
</nav>
