<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <div class="well" ng-repeat="product in vm.products">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="/content/images/{{product.image}}" class="img-thumbnail">
                    </div>
                    <div class="col-md-6">
                        <h4>{{product.name}}</h4>
                        <h3>{{product.price | currency}}</h3>
                        <br>
                        <button type="button" class="btn" ng-click="vm.addItem(product.id,1)">
                            Add 1 to basket
                        </button>
                        <button type="button" class="btn" ng-click="vm.addItem(product.id,5)">
                            Add 5 to basket
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 well">
            <h2>My Cart</h2>
            <table class="table table-striped">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>&nbsp;</th>
                </tr>
                <tr ng-repeat="item in vm.shoppingcart.items">
                    <td>{{vm.productsDescriptions[item.product_id]}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.amount | currency}}</td>
                    <td>
                        <button type="button" class="btn" ng-click="vm.deleteItem(item.id)">
                            X
                        </button>
                    </td>
                </tr>
            </table>
            <h3>{{vm.shoppingcart.amount | currency}}</h3>
        </div>
    </div>
</div>
